@use 'config/reset';
@use 'config/variaveis';

@mixin elementoForm($margin: 16px) {
    padding: 8px;
    display: block;
    width: 100%;
    margin-bottom: $margin;

}

body {
    background-color: #eee;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header {
    padding: 16px;
    background-color: variaveis.$corPrincipal;
    color: variaveis.$corDaFonte;
    text-align: center;
}

.form-container {
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 760px;
}

form {

    width: 100%;
    max-width: 500px;
    margin-top: 40px;

    label {
        font-weight: bolder;
        font-style: italic;
        cursor: pointer;
    }

    input {
        @include elementoForm(80px);
        background-color: transparent;
        border: none;
        border-bottom: 5px solid variaveis.$corSecundaria; 
    }

    button {
        @include elementoForm();
        background-color: variaveis.$corSecundaria;
        color: variaveis.$corDaFonte;
        font-size: 18px;
        font-weight: bold;
        font-style: italic;
        cursor: pointer;
        border: none;
    }



}

@media screen and (max-width: variaveis.$mobile) {
    body {
        background-color: yellow;
    }
}

